<!-- <mtl-d3-forcedirected [data]="discoveryData"></mtl-d3-forcedirected> -->

<!-- <mtl-d3-forcedirected *ngIf="showGraph" [data]="discoveryData" [configuration]="config" [hideGroups]="hideGroups" (onLegendClick)="onLegendClik($event)" (nodeClick)="onNodeClick($event)"></mtl-d3-forcedirected>

<br>
<hr> -->
<!-- <mtl-tree-filter [inputData]="tooltipOverflow" (setSelection)="setSelection($event)"
    (resetSelection)="resetSelection($event)" (loadTopology)="loadTopology($event)">
  </mtl-tree-filter> -->
<!-- <mtl-d3-forcedirected *ngIf="showGraph" [data]="dataNodes" [configuration]="config" [hideGroups]="hideGroups" (onLegendClick)="onLegendClik($event)" (nodeClick)="onNodeClick($event)"></mtl-d3-forcedirected> -->

<mtl-d3-forcedirected [data]="data" [configuration]="config"></mtl-d3-forcedirected>

<mtl-d3-tree-map [data]="treedata" [resetData]="treedata" [configuration]="treeConfig"></mtl-d3-tree-map>


<!-- <div style="padding: 20px;">
    <mtl-d3-tree-map id="disctree" [data]="tooltipOverflow" [resetData]="tooltipOverflow" #tree [configuration]="treeConfig"></mtl-d3-tree-map>
</div> -->


<!-- <mtl-d3-tree-map [data]="assessmentTree" [resetData]="assessmentTree"  [treeType]="'ASSESSMENT'"   [configuration]="treeConfig"></mtl-d3-tree-map>

<mtl-d3-tree-map [data]="assessmentTree" [resetData]="assessmentTree" [treeType]="'ASSESSMENT'"  [configuration]="treeConfig"></mtl-d3-tree-map>

<mtl-d3-tree-map [data]="treedata" [resetData]="treedata" [treeType]="'SERVICE'" ></mtl-d3-tree-map>  -->
<!-- [isExpandable]="true" [enableStatusTabs]="false" [enableTotalCount]="false" [hideServicesBackButton]="false" [isSidePanel]="true" [backwardArrow]="false" [forwardArrow]="true" -->

<!-- SERVICE -->
<!-- <mtl-d3-tree-map [data]="serviceTree" [resetData]="serviceTree" [treeType]="'SERVICE'"   [isExpandable]="true" [configuration]="treeConfig"></mtl-d3-tree-map> -->

<!-- <mtl-d3-tree-map [data]="assessmentTree" [resetData]="assessmentTree" [treeType]="'ASSESSMENT'"  [isSidePanel]="true" [isExpandable]="true" [configuration]="treeConfig"></mtl-d3-tree-map> -->


<!-- <mtl-d3-tree-map [data]="serviceTree" [resetData]="serviceTree" [enableStatusTabs]="true" [enableTotalCount]="true" [hideServicesBackButton]="false" [isSidePanel]="true" ></mtl-d3-tree-map> -->

<!-- <mtl-d3-service-tree-map [data]="serviceTree" [resetData]="serviceTree" [isExpandable]="true" [isSidePanel]="true">
</mtl-d3-service-tree-map> -->

<!-- <mtl-d3-assessment-tree-map [data]="assessmentTree" [resetData]="assessmentTree" [isNewIndented]="true" [isExpandable]="true" [isSidePanel]="false" [forwardArrow]="true">
</mtl-d3-assessment-tree-map> -->
<!-- <mtl-d3-tree-map [data]="serviceTree" [resetData]="serviceTree"></mtl-d3-tree-map>

<mtl-d3-service-tree-map [data]="serviceTree" [resetData]="serviceTree" [isExpandable]="true" [isSidePanel]="true">
</mtl-d3-service-tree-map>

<mtl-d3-assessment-tree-map [data]="assessmentTree" [resetData]="assessmentTree" [isNewIndented]="true"
    [isExpandable]="true" [isSidePanel]="false" [forwardArrow]="true">
</mtl-d3-assessment-tree-map> -->
